{
  "presets": [
    ["env", {
      "targets": {
        "node": "18"
      },
      "exclude": ["transform-regenerator"]
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
