{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["json"],
  "root": true,
  "ignorePatterns": [
    "node_modules/",
    "coverage/",
    ".nyc_output/",
  ],
}
